.topBar {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  padding: .5em;
  text-decoration: none;
  font-size: 3em;
  color: wheat;
}

.main {
  margin: 1em auto;
  max-width: 60%;
}

ul {
  text-align: center;
}
